<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.webServer>
    <modules>
      <add name="SqlBulkLoggingModule" type="FlexLabs.IIS.SqlBulkLoggingModule.SqlBulkLoggingModule, FlexLabs.IIS.SqlBulkLoggingModule, Culture=neutral, PublicKeyToken=7cb1bef1f9e47ae6"/>
    </modules>
  </system.webServer>
</configuration>
